{% extends 'base.html' %}

{% block main %}
	<div id="vue-homepage" class="container text-center" style="margin-top: 20%">
		<!-- <h4 class="mb-4">Recipes app</h4> -->
		<div class="my-5">
			<h4 class="mb-3">Search by recipe name or ingredient:</h4>
			<input id="searchBox" type="text" class="form-control mx-auto w-50" v-model="recipeNameSearch" />
		</div>
        <div id="searchResults" class="d-none">
            <h5 class="mb-2">Search results</h5>
            <!-- I had thought about separating the results by recipe name and ingredient name, but I'm not sure if
                  I actually want to do that. In a way, I don't mind having all the results together.
                Either way, that wouldn't be difficult to fix if I decide it's a need after beta testing haha. -->
            <div v-if="!recipeNameSearch">
                <p class="text-white-50"><em>Please enter search text.</em></p>
            </div>
            <div v-else-if="filteredResults && filteredResults.length > 0 && filteredResults.length <= maxResultsToDisplay">
                <div v-for="recipe in filteredResults">
                    <a class="index-ingredient-link" :href="getDetailLink(recipe)">[[ recipe.Name ]]</a>
                </div>
            </div>
            <div v-else-if="filteredResults && filteredResults.length > maxResultsToDisplay">
                <p class="text-white-50"><em>[[ helperTextTooManyResults ]]</em></p>
            </div>
            <div v-else>
                <p>There were no results.</p>
            </div>
        </div>
        <p v-if="filteredResults.length == 1" class="mt-4 text-white-50">
            <em>(Hit the "Enter" button to view this recipe.)</em>
        </p>
    </div>
{% endblock %}

{% block end_scripts %}
	<script>
		const index = new Vue({
			el: "#vue-homepage",
			delimiters: ['[[', ']]'],
			data: {
			    helperTextTooManyResults: "More than 15 recipes matched your query. Please refine your search.",
			    maxResultsToDisplay: 15,
				recipeNameSearch: "",

				// these need to be initialized, but can't be initialized as AJAX-acquired results, according to Vue docs
				// see https://vuejs.org/v2/guide/reactivity.html#Declaring-Reactive-Properties
				allRecipes: [],
				allIngredients: []
			},
			computed: {
				filteredResults() {
					// Good Codepen example for filtering Vue results: https://codepen.io/AndrewThian/pen/QdeOVa

					if (!this.allRecipes)
						return [];

					const searchTextLower = this.recipeNameSearch.toLowerCase();

					return this.allRecipes.filter(recipe =>
						recipe.Name.toLowerCase().includes(searchTextLower.trim()) ||
							this.allIngredients.some(ing =>
								ing.RecipeID === recipe.RecipeID && ing.FoodItem.toLowerCase().includes(searchTextLower)
							)
					);
				}
			},
			methods: {
				loadData: async function() {			
					[this.allRecipes, this.allIngredients] = (await Promise.all([
						axios.get("/api/recipes/list"), 
						axios.get("/api/ingredients/list")
					])).map(res => res.data);
				},
				getDetailLink: function(recipe) {
					return `recipes/${recipe.Name}`;
				}
			},
			mounted: function() {
				this.loadData();
				
				document.querySelector("#searchBox").focus();
				document.querySelector("#searchBox").addEventListener("keypress", (event) => {
					if (event.key === "Enter" && this.filteredResults.length === 1) {
						window.location.href = this.getDetailLink(this.filteredResults[0]);
					}
					document.querySelector("#searchResults").classList.remove("d-none");
				});
			}
		});
	</script>
{% endblock %}
