{% import 'header.html' as header %}

<html lang="en">
	<head>
		<title>Index</title> <!-- intentionally obfuscated -->
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="data:,"> <!-- Empty favicon to prevent browser console error -->
		<link rel="stylesheet" href="/static/styles/css/vendor/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/styles/css/main.css" />
    </head>
	<body class="d-flex flex-column h-100 mx-auto p-3">
		{{ header.make_header() }}
        <main>
            {% block main %}{% endblock %}
		</main>
		<!-- <footer class="text-center text-white-50"> <p></p>	</footer> -->
		
		<script src="/static/scripts/vendor/axios.min.js"></script>
		
		<!-- Bootstrap JS dependencies - need to be in this order-->
		<script src="/static/scripts/vendor/jquery-3.3.1.slim.min.js"></script>
		<script src="/static/scripts/vendor/popper.min.js"></script>
		<script src="/static/scripts/vendor/bootstrap.min.js"></script>
		
		{% block end_scripts %}{% endblock %}		
	</body>
</html>
